
.container
{
display: flex;
background-color: black;
width: 100%;
height: 100%;
text-align: center;
}

#heading {
width: 100%;
padding-top: 50px;
font-family: "Verdana";
font-weight: lighter;
font-size: 50px;
color: white;
text-align: center;
position: absolute;
top: 5%;
left: 50%;
transform: translate(-50%, -50%);
}


#coming-soon {
font-family: "Verdana";
text-decoration: underline;
font-size: 16px;
color: aquamarine;
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%, -50%);
}

.cell-container {

position: absolute;
top: 58%;
left: 50%;
transform: translate(-50%, -50%);

}

.image-container h1 {
font-family: "Verdana";
font-size: 42px;
font-weight: 300;
color: white;
text-align: center;
position: absolute;
top: 96%;
left: 50%;
transform: translate(-50%, -50%);

}

.image-container h3 {
font-family: "Verdana";
font-size: 21px;
font-weight: 200;
color: grey;
text-align: center;
position: absolute;
top: 102%;
left: 50%;
transform: translate(-50%, -50%);

}

.image-container img {
text-align: center;
position: absolute;
top: 134%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 12px;
}

.footer img {
text-align: center;
position: absolute;
top: 168%;
left: 50%;
transform: translate(-50%, -50%);

}

.footer h3 {
text-align: center;
position: absolute;
top: 174%;
left: 50%;
transform: translate(-50%, -50%);
font-family: "Verdana";
color: white;
font-size: 42px;
font-weight: 300;
}

.footer h5 {
text-align: center;
position: absolute;
top: 184%;
left: 50%;
transform: translate(-50%, -50%);
font-family: "Verdana";
text-decoration: underline;
font-size: 16px;
color: aquamarine;
padding-bottom: 52px;
  }

.footer h6 {
text-align: right;
font-family: "Verdana";
font-size: 16px;
color: grey;
padding-bottom: 52px;
position: absolute;
top: 182%;
left: 96%;
transform: translate(-50%, -50%);
      }
